<a href="https://colab.research.google.com/github/alexandergribenchenko/EDVai_DE/blob/main/EDVai_G_Pyspark_Hive/NB_Pyspark_Hive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# A. Instalación y carga de Pyspark

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 kB 20.8 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824028 sha256=a89f0d4e04d8ba987ffda4ba001b09c90dcab9a70e2187774fc4346325080c7c
  Stored in directory: /root/.cache/pip/wheels/6c/e3/9b/0525ce8a69478916513509d43693511463c6468db0de237c86
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.7
    Uninstalling py4j-0.10.9.7:
      Successfully uninstalled py4j-0.10.9.7
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('test_pyspark').getOrCreate()

# B. Funciones de pyspark necesarias para el ejercicio

In [36]:
from pyspark.sql.functions import sum, col, desc, asc, count, countDistinct, round, max, min, avg, to_date, collect_set, lit

# C. Importar el dataframe raw

### ---> Dataframe de Spark

In [5]:
dfs = spark.read.parquet('yellow_tripdata_2021-01.parquet')

In [6]:
dfs.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       1| 2021-01-01 00:30:10|  2021-01-01 00:36:12|            1.0|          2.1|       1.0|                 N|         142|          43|           2|        8.0|  3.0|    0.5|       0.0|         0.0|                  0.3|        11.8|                 2.5|       null|
|       1| 2021-01-01 00:51:20|  2021-01-01 00:52:19|            1.0|          0.2|       1.0|                 N|         238|         151|           2|        3.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         4.3|                 0.0|       null|
|       1| 2021-01-01 00:43:30|  2021-01-01 01:11:06|            1.0|         14.7|       1.0|                 N|         132|         165|           1|       42.0|  0.5|    0.5|      8.65|         0.0|                  0.3|       51.95|                 0.0|       null|
|       1| 2021-01-01 00:15:48|  2021-01-01 00:31:01|            0.0|         10.6|       1.0|                 N|         138|         132|           1|       29.0|  0.5|    0.5|      6.05|         0.0|                  0.3|       36.35|                 0.0|       null|
|       2| 2021-01-01 00:31:49|  2021-01-01 00:48:21|            1.0|         4.94|       1.0|                 N|          68|          33|           1|       16.5|  0.5|    0.5|      4.06|         0.0|                  0.3|       24.36|                 2.5|       null|
|       1| 2021-01-01 00:16:29|  2021-01-01 00:24:30|            1.0|          1.6|       1.0|                 N|         224|          68|           1|        8.0|  3.0|    0.5|      2.35|         0.0|                  0.3|       14.15|                 2.5|       null|
|       1| 2021-01-01 00:00:28|  2021-01-01 00:17:28|            1.0|          4.1|       1.0|                 N|          95|         157|           2|       16.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        17.3|                 0.0|       null|
|       1| 2021-01-01 00:12:29|  2021-01-01 00:30:34|            1.0|          5.7|       1.0|                 N|          90|          40|           2|       18.0|  3.0|    0.5|       0.0|         0.0|                  0.3|        21.8|                 2.5|       null|
|       1| 2021-01-01 00:39:16|  2021-01-01 01:00:13|            1.0|          9.1|       1.0|                 N|          97|         129|           4|       27.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        28.8|                 0.0|       null|
|       1| 2021-01-01 00:26:12|  2021-01-01 00:39:46|            2.0|          2.7|       1.0|                 N|         263|         142|           1|       12.0|  3.0|    0.5|      3.15|         0.0|                  0.3|       18.95|                 2.5|       null|
|       2| 2021-01-01 00:15:52|  2021-01-01 00:38:07|            3.0|         6.11|       1.0|                 N|         164|         255|           1|       20.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        24.3|                 2.5|       null|
|       2| 2021-01-01 00:46:36|  2021-01-01 00:53:45|            2.0|         1.21|       1.0|                 N|         255|          80|           1|        7.0|  0.5|    0.5|      2.49|         0.0|                  0.3|       10.79|                 0.0|       null|
|       1| 2021-01-01 00:10:46|  2021-01-01 00:32:58|            2.0|          7.4|       1.0|                 N|         138|         166|           2|       24.5|  2.5|    0.5|       0.0|        6.12|                  0.3|       33.92|                 0.0|       null|
|       2| 2021-01-01 00:31:06|  2021-01-01 00:38:52|            5.0|          1.7|       1.0|                 N|         142|          50|           1|        8.0|  0.5|    0.5|      2.36|         0.0|                  0.3|       14.16|                 2.5|       null|
|       2| 2021-01-01 00:42:11|  2021-01-01 00:44:24|            5.0|         0.81|       1.0|                 N|          50|         142|           2|        4.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         8.3|                 2.5|       null|
|       2| 2021-01-01 00:17:48|  2021-01-01 00:21:55|            1.0|         1.01|       1.0|                 N|         236|         237|           1|        5.5|  0.5|    0.5|       1.0|         0.0|                  0.3|        10.3|                 2.5|       null|
|       2| 2021-01-01 00:33:38|  2021-01-01 00:38:37|            1.0|         0.73|       1.0|                 N|         142|         239|           1|        5.5|  0.5|    0.5|      2.79|         0.0|                  0.3|       12.09|                 2.5|       null|
|       2| 2021-01-01 00:47:56|  2021-01-01 00:52:53|            1.0|         1.17|       1.0|                 N|         238|         166|           1|        6.5|  0.5|    0.5|      2.06|         0.0|                  0.3|       12.36|                 2.5|       null|
|       2| 2021-01-01 00:04:21|  2021-01-01 00:07:58|            1.0|         0.78|       1.0|                 N|         239|         238|           1|        4.5|  0.5|    0.5|      1.66|         0.0|                  0.3|        9.96|                 2.5|       null|
|       2| 2021-01-01 00:18:36|  2021-01-01 00:27:10|            2.0|         1.66|       1.0|                 N|         151|         142|           2|        8.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        12.3|                 2.5|       null|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

In [7]:
dfs.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

### ---> Vista temporal para consultas SQL

In [12]:
dfs.createOrReplaceTempView('dfs_temp_view')

In [30]:
query = """
SELECT 
    *
FROM 
    dfs_temp_view
"""

In [31]:
spark.sql(query).show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       1| 2021-01-01 00:30:10|  2021-01-01 00:36:12|            1.0|          2.1|       1.0|                 N|         142|          43|           2|        8.0|  3.0|    0.5|       0.0|         0.0|                  0.3|        11.8|                 2.5|       null|
|       1| 2021-01-01 00:51:20|  2021-01-01 00:52:19|            1.0|          0.2|       1.0|                 N|         238|         151|           2|        3.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         4.3|                 0.0|       null|
|       1| 2021-01-01 00:43:30|  2021-01-01 01:11:06|            1.0|         14.7|       1.0|                 N|         132|         165|           1|       42.0|  0.5|    0.5|      8.65|         0.0|                  0.3|       51.95|                 0.0|       null|
|       1| 2021-01-01 00:15:48|  2021-01-01 00:31:01|            0.0|         10.6|       1.0|                 N|         138|         132|           1|       29.0|  0.5|    0.5|      6.05|         0.0|                  0.3|       36.35|                 0.0|       null|
|       2| 2021-01-01 00:31:49|  2021-01-01 00:48:21|            1.0|         4.94|       1.0|                 N|          68|          33|           1|       16.5|  0.5|    0.5|      4.06|         0.0|                  0.3|       24.36|                 2.5|       null|
|       1| 2021-01-01 00:16:29|  2021-01-01 00:24:30|            1.0|          1.6|       1.0|                 N|         224|          68|           1|        8.0|  3.0|    0.5|      2.35|         0.0|                  0.3|       14.15|                 2.5|       null|
|       1| 2021-01-01 00:00:28|  2021-01-01 00:17:28|            1.0|          4.1|       1.0|                 N|          95|         157|           2|       16.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        17.3|                 0.0|       null|
|       1| 2021-01-01 00:12:29|  2021-01-01 00:30:34|            1.0|          5.7|       1.0|                 N|          90|          40|           2|       18.0|  3.0|    0.5|       0.0|         0.0|                  0.3|        21.8|                 2.5|       null|
|       1| 2021-01-01 00:39:16|  2021-01-01 01:00:13|            1.0|          9.1|       1.0|                 N|          97|         129|           4|       27.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        28.8|                 0.0|       null|
|       1| 2021-01-01 00:26:12|  2021-01-01 00:39:46|            2.0|          2.7|       1.0|                 N|         263|         142|           1|       12.0|  3.0|    0.5|      3.15|         0.0|                  0.3|       18.95|                 2.5|       null|
|       2| 2021-01-01 00:15:52|  2021-01-01 00:38:07|            3.0|         6.11|       1.0|                 N|         164|         255|           1|       20.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        24.3|                 2.5|       null|
|       2| 2021-01-01 00:46:36|  2021-01-01 00:53:45|            2.0|         1.21|       1.0|                 N|         255|          80|           1|        7.0|  0.5|    0.5|      2.49|         0.0|                  0.3|       10.79|                 0.0|       null|
|       1| 2021-01-01 00:10:46|  2021-01-01 00:32:58|            2.0|          7.4|       1.0|                 N|         138|         166|           2|       24.5|  2.5|    0.5|       0.0|        6.12|                  0.3|       33.92|                 0.0|       null|
|       2| 2021-01-01 00:31:06|  2021-01-01 00:38:52|            5.0|          1.7|       1.0|                 N|         142|          50|           1|        8.0|  0.5|    0.5|      2.36|         0.0|                  0.3|       14.16|                 2.5|       null|
|       2| 2021-01-01 00:42:11|  2021-01-01 00:44:24|            5.0|         0.81|       1.0|                 N|          50|         142|           2|        4.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         8.3|                 2.5|       null|
|       2| 2021-01-01 00:17:48|  2021-01-01 00:21:55|            1.0|         1.01|       1.0|                 N|         236|         237|           1|        5.5|  0.5|    0.5|       1.0|         0.0|                  0.3|        10.3|                 2.5|       null|
|       2| 2021-01-01 00:33:38|  2021-01-01 00:38:37|            1.0|         0.73|       1.0|                 N|         142|         239|           1|        5.5|  0.5|    0.5|      2.79|         0.0|                  0.3|       12.09|                 2.5|       null|
|       2| 2021-01-01 00:47:56|  2021-01-01 00:52:53|            1.0|         1.17|       1.0|                 N|         238|         166|           1|        6.5|  0.5|    0.5|      2.06|         0.0|                  0.3|       12.36|                 2.5|       null|
|       2| 2021-01-01 00:04:21|  2021-01-01 00:07:58|            1.0|         0.78|       1.0|                 N|         239|         238|           1|        4.5|  0.5|    0.5|      1.66|         0.0|                  0.3|        9.96|                 2.5|       null|
|       2| 2021-01-01 00:18:36|  2021-01-01 00:27:10|            2.0|         1.66|       1.0|                 N|         151|         142|           2|        8.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        12.3|                 2.5|       null|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

# D. Resolución de las preguntas

## 05. Tabla payments
Insertar en la tabla payments (VendorID, tpep_pickup_datetetime, payment_type,
total_amount) solamente los pagos con tarjeta de crédito.

Sabemos que en `Payment_type` tenemos la equivalencia `1= Credit card`.

### ---> Pyspark version:

In [17]:
dfs.withColumn('tpep_pickup_datetime', to_date('tpep_pickup_datetime', 'yyyy-MM-dd HH:mm:ss')).\
    select('VendorID','tpep_pickup_datetime', 'payment_type', 'total_amount').\
    filter(col('payment_type') == 4).\
    show()

+--------+--------------------+------------+------------+
|VendorID|tpep_pickup_datetime|payment_type|total_amount|
+--------+--------------------+------------+------------+
|       1|          2021-01-01|           4|        28.8|
|       1|          2021-01-01|           4|        37.8|
|       1|          2021-01-01|           4|        16.3|
|       1|          2021-01-01|           4|         8.3|
|       1|          2021-01-01|           4|        10.8|
|       2|          2021-01-01|           4|       -45.3|
|       2|          2021-01-01|           4|        -8.8|
|       2|          2021-01-01|           4|       -15.8|
|       2|          2021-01-01|           4|       -25.8|
|       2|          2021-01-01|           4|       -15.8|
|       1|          2021-01-01|           4|        18.8|
|       2|          2021-01-01|           4|       -19.3|
|       1|          2021-01-01|           4|         6.3|
|       2|          2021-01-01|           4|       -21.8|
|       2|          2021-01-01|           4|       -18.3|
|       2|          2021-01-01|           4|        -7.8|
|       2|          2021-01-01|           4|       -19.8|
|       2|          2021-01-01|           4|       -19.3|
|       1|          2021-01-01|           4|         7.3|
|       2|          2021-01-01|           4|        -6.3|
+--------+--------------------+------------+------------+
only showing top 20 rows

### ---> SQL version:

In [22]:
query_05 = """
SELECT 
    VendorID, 
    DATE_FORMAT(tpep_pickup_datetime, 'yyyy-MM-dd') as tpep_pickup_datetime, 
    payment_type, 
    total_amount
FROM 
    dfs_temp_view
WHERE 
    payment_type = 4
"""

In [23]:
spark.sql(query_05).show()

+--------+--------------------+------------+------------+
|VendorID|tpep_pickup_datetime|payment_type|total_amount|
+--------+--------------------+------------+------------+
|       1|          2021-01-01|           4|        28.8|
|       1|          2021-01-01|           4|        37.8|
|       1|          2021-01-01|           4|        16.3|
|       1|          2021-01-01|           4|         8.3|
|       1|          2021-01-01|           4|        10.8|
|       2|          2021-01-01|           4|       -45.3|
|       2|          2021-01-01|           4|        -8.8|
|       2|          2021-01-01|           4|       -15.8|
|       2|          2021-01-01|           4|       -25.8|
|       2|          2021-01-01|           4|       -15.8|
|       1|          2021-01-01|           4|        18.8|
|       2|          2021-01-01|           4|       -19.3|
|       1|          2021-01-01|           4|         6.3|
|       2|          2021-01-01|           4|       -21.8|
|       2|          2021-01-01|           4|       -18.3|
|       2|          2021-01-01|           4|        -7.8|
|       2|          2021-01-01|           4|       -19.8|
|       2|          2021-01-01|           4|       -19.3|
|       1|          2021-01-01|           4|         7.3|
|       2|          2021-01-01|           4|        -6.3|
+--------+--------------------+------------+------------+
only showing top 20 rows

## 06. Tabla passengers
Insertar en la tabla passengers (tpep_pickup_datetetime, passenger_count,
total_amount) los registros cuya cantidad de pasajeros sea mayor a 2 y el total del viaje cueste más de 8 dólares.

### ---> Pyspark version:

In [25]:
dfs.withColumn('tpep_pickup_datetime', to_date('tpep_pickup_datetime', 'yyyy-MM-dd HH:mm:ss')).\
    select('tpep_pickup_datetime','passenger_count', 'total_amount').\
    filter((col('passenger_count') > 2) & (col('total_amount') > 8)).\
    show()

+--------------------+---------------+------------+
|tpep_pickup_datetime|passenger_count|total_amount|
+--------------------+---------------+------------+
|          2021-01-01|            3.0|        24.3|
|          2021-01-01|            5.0|       14.16|
|          2021-01-01|            5.0|         8.3|
|          2021-01-01|            3.0|         9.3|
|          2021-01-01|            4.0|        18.3|
|          2021-01-01|            4.0|        13.3|
|          2021-01-01|            3.0|        40.3|
|          2021-01-01|            5.0|        14.8|
|          2021-01-01|            3.0|       18.59|
|          2021-01-01|            3.0|       13.56|
|          2021-01-01|            3.0|        9.96|
|          2021-01-01|            3.0|       66.36|
|          2021-01-01|            3.0|       15.95|
|          2021-01-01|            3.0|        15.8|
|          2021-01-01|            3.0|        13.3|
|          2021-01-01|            3.0|       11.76|
|          2021-01-01|            3.0|        31.8|
|          2021-01-01|            3.0|       12.95|
|          2021-01-01|            3.0|        10.8|
|          2021-01-01|            4.0|        22.8|
+--------------------+---------------+------------+
only showing top 20 rows

### ---> SQL version:

In [28]:
query_06 = """
SELECT 
    DATE_FORMAT(tpep_pickup_datetime, 'yyyy-MM-dd') as tpep_pickup_datetime, 
    passenger_count, 
    total_amount
FROM 
    dfs_temp_view
WHERE 
    passenger_count > 2 
    AND total_amount > 8
"""

In [29]:
spark.sql(query_06).show()

+--------------------+---------------+------------+
|tpep_pickup_datetime|passenger_count|total_amount|
+--------------------+---------------+------------+
|          2021-01-01|            3.0|        24.3|
|          2021-01-01|            5.0|       14.16|
|          2021-01-01|            5.0|         8.3|
|          2021-01-01|            3.0|         9.3|
|          2021-01-01|            4.0|        18.3|
|          2021-01-01|            4.0|        13.3|
|          2021-01-01|            3.0|        40.3|
|          2021-01-01|            5.0|        14.8|
|          2021-01-01|            3.0|       18.59|
|          2021-01-01|            3.0|       13.56|
|          2021-01-01|            3.0|        9.96|
|          2021-01-01|            3.0|       66.36|
|          2021-01-01|            3.0|       15.95|
|          2021-01-01|            3.0|        15.8|
|          2021-01-01|            3.0|        13.3|
|          2021-01-01|            3.0|       11.76|
|          2021-01-01|            3.0|        31.8|
|          2021-01-01|            3.0|       12.95|
|          2021-01-01|            3.0|        10.8|
|          2021-01-01|            4.0|        22.8|
+--------------------+---------------+------------+
only showing top 20 rows

## 07. Tabla tolls
Insertar en la tabla tolls (tpep_pickup_datetetime, passenger_count, tolls_amount, total_amount) los registros que tengan pago de peajes mayores a 0.1 y cantidad de pasajeros mayores a 1.

### ---> Pyspark version:

In [33]:
dfs.withColumn('tpep_pickup_datetime', to_date('tpep_pickup_datetime', 'yyyy-MM-dd HH:mm:ss')).\
    select('tpep_pickup_datetime','passenger_count', 'tolls_amount', 'total_amount').\
    filter((col('tolls_amount') > 0.1) & (col('passenger_count') > 1)).\
    show()

+--------------------+---------------+------------+------------+
|tpep_pickup_datetime|passenger_count|tolls_amount|total_amount|
+--------------------+---------------+------------+------------+
|          2021-01-01|            2.0|        6.12|       33.92|
|          2021-01-01|            2.0|        6.12|       59.42|
|          2021-01-01|            2.0|        6.12|       35.92|
|          2021-01-01|            6.0|        6.12|        40.1|
|          2021-01-01|            3.0|        6.12|        54.0|
|          2021-01-01|            2.0|         2.8|        34.1|
|          2021-01-01|            4.0|        6.12|       61.42|
|          2021-01-01|            4.0|        6.12|       51.42|
|          2021-01-01|            2.0|       11.75|       12.05|
|          2021-01-01|            6.0|        6.12|       71.42|
|          2021-01-01|            2.0|        6.12|       26.94|
|          2021-01-01|            3.0|        6.12|       27.42|
|          2021-01-01|            3.0|        6.12|        43.7|
|          2021-01-01|            2.0|        6.12|       69.17|
|          2021-01-01|            3.0|       11.75|       73.55|
|          2021-01-01|            2.0|        6.12|       67.67|
|          2021-01-01|            2.0|        6.12|       24.42|
|          2021-01-01|            2.0|        6.12|       42.42|
|          2021-01-01|            2.0|        6.12|       31.92|
|          2021-01-01|            2.0|        6.12|       33.42|
+--------------------+---------------+------------+------------+
only showing top 20 rows

### ---> SQL version:

In [34]:
query_07 = """
SELECT 
    DATE_FORMAT(tpep_pickup_datetime, 'yyyy-MM-dd') as tpep_pickup_datetime, 
    passenger_count, 
    tolls_amount, 
    total_amount
FROM 
    dfs_temp_view
WHERE 
    tolls_amount > 0.1
    AND passenger_count > 1
"""

In [35]:
spark.sql(query_07).show()

+--------------------+---------------+------------+------------+
|tpep_pickup_datetime|passenger_count|tolls_amount|total_amount|
+--------------------+---------------+------------+------------+
|          2021-01-01|            2.0|        6.12|       33.92|
|          2021-01-01|            2.0|        6.12|       59.42|
|          2021-01-01|            2.0|        6.12|       35.92|
|          2021-01-01|            6.0|        6.12|        40.1|
|          2021-01-01|            3.0|        6.12|        54.0|
|          2021-01-01|            2.0|         2.8|        34.1|
|          2021-01-01|            4.0|        6.12|       61.42|
|          2021-01-01|            4.0|        6.12|       51.42|
|          2021-01-01|            2.0|       11.75|       12.05|
|          2021-01-01|            6.0|        6.12|       71.42|
|          2021-01-01|            2.0|        6.12|       26.94|
|          2021-01-01|            3.0|        6.12|       27.42|
|          2021-01-01|            3.0|        6.12|        43.7|
|          2021-01-01|            2.0|        6.12|       69.17|
|          2021-01-01|            3.0|       11.75|       73.55|
|          2021-01-01|            2.0|        6.12|       67.67|
|          2021-01-01|            2.0|        6.12|       24.42|
|          2021-01-01|            2.0|        6.12|       42.42|
|          2021-01-01|            2.0|        6.12|       31.92|
|          2021-01-01|            2.0|        6.12|       33.42|
+--------------------+---------------+------------+------------+
only showing top 20 rows

## 08. Tabla congestion
Insertar en la tabla congestion (tpep_pickup_datetetime, passenger_count,
congestion_surcharge, total_amount) los registros que hayan tenido congestión en los viajes en la fecha 2021-01-18.

### ---> Pyspark version:

In [37]:
dfs.withColumn('tpep_pickup_datetime', to_date('tpep_pickup_datetime', 'yyyy-MM-dd HH:mm:ss')).\
    select('tpep_pickup_datetime','passenger_count', 'congestion_surcharge', 'total_amount').\
    filter((col('tpep_pickup_datetime') == lit('2021-01-18')) & (col('congestion_surcharge') > 0)).\
    show()

+--------------------+---------------+--------------------+------------+
|tpep_pickup_datetime|passenger_count|congestion_surcharge|total_amount|
+--------------------+---------------+--------------------+------------+
|          2021-01-18|            1.0|                 2.5|        10.8|
|          2021-01-18|            1.0|                 2.5|       16.56|
|          2021-01-18|            1.0|                 2.5|       11.16|
|          2021-01-18|            1.0|                 2.5|        11.3|
|          2021-01-18|            1.0|                 2.5|       21.23|
|          2021-01-18|            1.0|                 2.5|       12.96|
|          2021-01-18|            1.0|                 2.5|       13.87|
|          2021-01-18|            1.0|                 2.5|        14.8|
|          2021-01-18|            1.0|                 2.5|       14.14|
|          2021-01-18|            1.0|                 2.5|        20.8|
|          2021-01-18|            1.0|                 2.5|       25.87|
|          2021-01-18|            1.0|                 2.5|       11.76|
|          2021-01-18|            1.0|                 2.5|        11.8|
|          2021-01-18|            1.0|                 2.5|       17.94|
|          2021-01-18|            1.0|                 2.5|       19.56|
|          2021-01-18|            1.0|                 2.5|        14.3|
|          2021-01-18|            1.0|                 2.5|       24.36|
|          2021-01-18|            1.0|                 2.5|         7.3|
|          2021-01-18|            1.0|                 2.5|       10.38|
|          2021-01-18|            1.0|                 2.5|        69.9|
+--------------------+---------------+--------------------+------------+
only showing top 20 rows

### ---> SQL version:

In [40]:
query_08 = """
SELECT 
  to_date(tpep_pickup_datetime, 'yyyy-MM-dd HH:mm:ss') AS tpep_pickup_datetime, 
  passenger_count, 
  congestion_surcharge, 
  total_amount
FROM 
  dfs_temp_view
WHERE 
  to_date(tpep_pickup_datetime, 'yyyy-MM-dd HH:mm:ss') = '2021-01-18'
  AND congestion_surcharge > 0
"""

In [41]:
spark.sql(query_08).show()

+--------------------+---------------+--------------------+------------+
|tpep_pickup_datetime|passenger_count|congestion_surcharge|total_amount|
+--------------------+---------------+--------------------+------------+
|          2021-01-18|            1.0|                 2.5|        10.8|
|          2021-01-18|            1.0|                 2.5|       16.56|
|          2021-01-18|            1.0|                 2.5|       11.16|
|          2021-01-18|            1.0|                 2.5|        11.3|
|          2021-01-18|            1.0|                 2.5|       21.23|
|          2021-01-18|            1.0|                 2.5|       12.96|
|          2021-01-18|            1.0|                 2.5|       13.87|
|          2021-01-18|            1.0|                 2.5|        14.8|
|          2021-01-18|            1.0|                 2.5|       14.14|
|          2021-01-18|            1.0|                 2.5|        20.8|
|          2021-01-18|            1.0|                 2.5|       25.87|
|          2021-01-18|            1.0|                 2.5|       11.76|
|          2021-01-18|            1.0|                 2.5|        11.8|
|          2021-01-18|            1.0|                 2.5|       17.94|
|          2021-01-18|            1.0|                 2.5|       19.56|
|          2021-01-18|            1.0|                 2.5|        14.3|
|          2021-01-18|            1.0|                 2.5|       24.36|
|          2021-01-18|            1.0|                 2.5|         7.3|
|          2021-01-18|            1.0|                 2.5|       10.38|
|          2021-01-18|            1.0|                 2.5|        69.9|
+--------------------+---------------+--------------------+------------+
only showing top 20 rows

## 09. Tabla distance
Insertar en la tabla distance (tpep_pickup_datetetime, passenger_count, trip_distance, total_amount) los registros de la fecha 2020-12-31 que hayan tenido solamente un pasajero (passenger_count = 1) y hayan recorrido más de 15 millas (trip_distance).

### ---> Pyspark version:

In [45]:
dfs.withColumn('tpep_pickup_datetime', to_date('tpep_pickup_datetime', 'yyyy-MM-dd HH:mm:ss')).\
    select('tpep_pickup_datetime','passenger_count', 'trip_distance', 'total_amount').\
    filter((col('tpep_pickup_datetime') == lit('2020-12-31')) & 
           (col('passenger_count') == 1) & 
           (col('trip_distance') >15)).\
    show()

+--------------------+---------------+-------------+------------+
|tpep_pickup_datetime|passenger_count|trip_distance|total_amount|
+--------------------+---------------+-------------+------------+
|          2020-12-31|            1.0|        17.96|        53.3|
+--------------------+---------------+-------------+------------+

### ---> SQL version:

In [48]:
query_09 = """
SELECT 
  to_date(tpep_pickup_datetime, 'yyyy-MM-dd HH:mm:ss') AS tpep_pickup_datetime, 
  passenger_count, 
  trip_distance, 
  total_amount
FROM 
  dfs_temp_view
WHERE 
  to_date(tpep_pickup_datetime, 'yyyy-MM-dd HH:mm:ss') = '2020-12-31'
  AND passenger_count = 1
  AND trip_distance > 15
"""

In [49]:
spark.sql(query_09).show()

+--------------------+---------------+-------------+------------+
|tpep_pickup_datetime|passenger_count|trip_distance|total_amount|
+--------------------+---------------+-------------+------------+
|          2020-12-31|            1.0|        17.96|        53.3|
+--------------------+---------------+-------------+------------+